.game-area {
  display: flex;
}

.hint-button {
  text-align: center;
  box-shadow: 0 15px 0 0 rgba(0, 0, 0, 0.97);
}

.hint-icon {
  width: 40px;
}
.submit-button {
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 1;
  font-size: 30px;
  bottom: 128px;
  right: 128px;
}

.map-container {
  z-index: -1;
}
