.font-regular {
  font-family: "Neo Sans Std Regular";
}

body {
  font-family: "Neo Sans Std Bold";
}

@font-face {
  font-family: "Neo Sans Std Bold";
  src: url("/public/Neo-Sans-Std-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Neo Sans Std Regular";
  src: url("/public/Neo-Sans-Std-Regular.otf") format("opentype");
}
