header {
  width: 100%;
  background-color: #049b04;
  display: inline-block;
}

.header-box {
  display: flex;
  margin: 5px auto;
}

.header-title {
  margin: 10px auto 10px 10px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.header-right-item {
  display: flex;
  align-items: center;
}

.userName {
  text-align: right;
}

.userName p {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0em;
  margin: auto 10px auto 0;
}

.logout-img {
  width: 32px;
  height: 32px;
  margin: auto 10px auto 0;
}
body {
  display: block;
}
.body-container {
  background-image: url("../imgs/baloon.png");
  background-color: rgba(255, 255, 255, 0.562);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  left: 0;
  z-index: -1;
}

.body-container p {
  text-align: center;
  margin-top: 10px;
}

.body-subtitle {
  margin-top: 150px;
  font-size: 30px;
  color: #fecd19;
}

.body-title {
  font-size: 70px;
}

.body-button {
  margin: 40px auto 0 auto;
  text-align: center;
}

.body-form {
  display: flex;
  column-gap: 20px;
  margin-top: 25px;
  padding: 0 40px 15px 40px;
}

.form-account {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
